In [1]:
from my_custom_functions import *

![](http://fs5.directupload.net/images/180503/5ht7dguc.jpg)

In [2]:
def printnln(a=''):
    print(a,end=' ')

# LOGIC 5

## Fungsi untuk menentukan jumlah kolom per lapis kotak

In [3]:
def total(i):
    return i*(i+1)//2

for c in crange(1,5):
    print(total(c))

1
3
6
10
15

# SOAL 1

In [4]:
for j in crange(1,4):
    for s in crange(1,j):
        for s in crange(0,total(j-1)-1):
            printnln('_')
        for s in crange(1,j):
            printnln('*')
        println()

*
_ * *
_ * *
_ _ _ * * *
_ _ _ * * *
_ _ _ * * *
_ _ _ _ _ _ * * * *
_ _ _ _ _ _ * * * *
_ _ _ _ _ _ * * * *
_ _ _ _ _ _ * * * *

In [5]:
def spasi(n):
    return n*(n+1)//2

for z in crange(1,4):
    for y in crange(1,z):
        printnln(z)
        for s in crange(1,spasi(z-1)):
            printnln('_')
        for x in crange(1,z):
            printnln('*')
        println()

1 *
2 _ * *
2 _ * *
3 _ _ _ * * *
3 _ _ _ * * *
3 _ _ _ * * *
4 _ _ _ _ _ _ * * * *
4 _ _ _ _ _ _ * * * *
4 _ _ _ _ _ _ * * * *
4 _ _ _ _ _ _ * * * *

# SOAL 2

In [6]:
for j in crange(1,4):
    for s in crange(1,j):
        for s in crange(0,total(4)-total(j)-1):
            printnln(' ')
        for s in crange(1,j):
            printnln('*')
        println()

                  *
              * *
              * *
        * * *
        * * *
        * * *
* * * *
* * * *
* * * *
* * * *

In [7]:
for j in crange(1,4):
    for s in crange(1,j):
        for s in crange(1,total(4)-total(j)):
            printnln(' ')
        for s in crange(1,j):
            printnln('*')
        println()

                  *
              * *
              * *
        * * *
        * * *
        * * *
* * * *
* * * *
* * * *
* * * *

In [8]:
for j in crange(1,4):
    print(total(j))

1
3
6
10

## Fungsi penghitung jumlah kolom lapis piramid

In [9]:
def pyramid(i):
    return i * 2 - 1

def totalPyramid(i): 
    return i * i

# SOAL 3

In [10]:
for j in crange(1,4):
    for x in crange(1,j):
        for s in crange(1,totalPyramid(j)-pyramid(j)):
            printnln('_')
        for s in crange(0,j-x-1):
            printnln(' ')
        for s in crange(1,pyramid(x)):
            printnln('*')
        println()

*
_   *
_ * * *
_ _ _ _     *
_ _ _ _   * * *
_ _ _ _ * * * * *
_ _ _ _ _ _ _ _ _       *
_ _ _ _ _ _ _ _ _     * * *
_ _ _ _ _ _ _ _ _   * * * * *
_ _ _ _ _ _ _ _ _ * * * * * * *

# SOAL 4

In [11]:
for j in crange(1,4):
    for x in crange(1,j):
        for s in crange(1,totalPyramid(4)-totalPyramid(j)):
            printnln('_')
        for s in crange(1,j-x):
            printnln(' ')
        for s in crange(1,pyramid(x)):
            printnln('*')
        println()

_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ *
_ _ _ _ _ _ _ _ _ _ _ _   *
_ _ _ _ _ _ _ _ _ _ _ _ * * *
_ _ _ _ _ _ _     *
_ _ _ _ _ _ _   * * *
_ _ _ _ _ _ _ * * * * *
      *
    * * *
  * * * * *
* * * * * * *

# SOAL 5

In [12]:
for j in crange(1,4):
    for x in reversed(crange(1,j)):
        for s in crange(1,totalPyramid(4)-totalPyramid(j)):
            printnln('_')
        for s in crange(1,j-x):
            printnln(' ')
        for s in crange(1,pyramid(x)):
            printnln('*')
        println()

_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ *
_ _ _ _ _ _ _ _ _ _ _ _ * * *
_ _ _ _ _ _ _ _ _ _ _ _   *
_ _ _ _ _ _ _ * * * * *
_ _ _ _ _ _ _   * * *
_ _ _ _ _ _ _     *
* * * * * * *
  * * * * *
    * * *
      *

# SOAL 6

In [13]:
for j in crange(1,4):
    for y in crange(1,j):
        for s in crange(0,total(j)-j-1):
            printnln(' ')
        for x in crange(1,j):
            n = x + ((y - 1) * j)
            printnln(n)
        println()

1
  1 2
  3 4
      1 2 3
      4 5 6
      7 8 9
            1 2 3 4
            5 6 7 8
            9 10 11 12
            13 14 15 16

# SOAL 7

In [14]:
for j in crange(1,4):
    for y in crange(1,j):
        for s in crange(0,total(4)-total(j)-1):
            printnln(' ')
        for x in crange(1,j):
            n = x + ((y - 1) * j)
            printnln(n)
        println()

                  1
              1 2
              3 4
        1 2 3
        4 5 6
        7 8 9
1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

# SOAL 8

In [15]:
for i in range(2,10,2):
    print(2**i)

4
16
64
256

In [16]:
for j in crange(1,6):
    for t in crange(1,j):
        for s in crange(1,total(j-1)):
            printnln('-')
        for x in crange(1,j) if t % 2 != 0  else reversed(crange(1,j)):
            n = x + ((t - 1) * j)
            printnln(n)
        println()

1
- 1 2
- 4 3
- - - 1 2 3
- - - 6 5 4
- - - 7 8 9
- - - - - - 1 2 3 4
- - - - - - 8 7 6 5
- - - - - - 9 10 11 12
- - - - - - 16 15 14 13
- - - - - - - - - - 1 2 3 4 5
- - - - - - - - - - 10 9 8 7 6
- - - - - - - - - - 11 12 13 14 15
- - - - - - - - - - 20 19 18 17 16
- - - - - - - - - - 21 22 23 24 25
- - - - - - - - - - - - - - - 1 2 3 4 5 6
- - - - - - - - - - - - - - - 12 11 10 9 8 7
- - - - - - - - - - - - - - - 13 14 15 16 17 18
- - - - - - - - - - - - - - - 24 23 22 21 20 19
- - - - - - - - - - - - - - - 25 26 27 28 29 30
- - - - - - - - - - - - - - - 36 35 34 33 32 31

In [17]:
for y in crange(1,3):
    for x in crange(1,3):
        printnln(x+((y-1)*3))
    println()

1 2 3
4 5 6
7 8 9

# SOAL 9

In [18]:
for y in crange(1,4):
    for t in crange(1,y):
        p = pcount(t)

        t = 4 - p // 2
        for s in crange(1,t):
            printnln(' ')
            
        for x in crange(1,p):
            printnln('*')
        println()

        *
        *
      * * *
        *
      * * *
    * * * * *
        *
      * * *
    * * * * *
  * * * * * * *

# SOAL 10

In [19]:
for y in crange(1,4):
    c = 0
    for t in crange(1,y):
        p = pcount(t)

        t = 4-p//2
        for s in crange(1,t):
            printnln(' ')
            
        for x in crange(1,p):
            c += 1
            if y % 2 == 0:
                printnln(fib(c))
            else:
                printnln(c*2-1)
        println()

        1
        1
      1 2 3
        1
      3 5 7
    9 11 13 15 17
        1
      1 2 3
    5 8 13 21 34
  55 89 144 233 377 610 987

# TUTORIAL

In [20]:
for j in crange(1,4):
    n = 0
    for t in crange(1,j):
        printnln('{}<'.format(j))
        
        for s in crange(0,total(j)-j-1):
            printnln('-')
            
        for x in crange(1,j) if t % 2 != 0  else reversed(crange(1,j)):
            v = x+(j*(t-1))
            printnln(v)
        println()

1< 1
2< - 1 2
2< - 4 3
3< - - - 1 2 3
3< - - - 6 5 4
3< - - - 7 8 9
4< - - - - - - 1 2 3 4
4< - - - - - - 8 7 6 5
4< - - - - - - 9 10 11 12
4< - - - - - - 16 15 14 13